{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="admin-panel-container">
    <h2 class="admin-panel-title">Panel de Administración</h2>

    <div class="admin-cards-container">
        <!-- Usuarios -->
        <a href="{% url 'admin_usuario' %}" class="admin-card">
            <h3>Usuarios</h3>
        </a>

        <!-- Medicamentos -->
        <a href="{% url 'admin_medicamentos' %}" class="admin-card">
            <h3>Medicamentos</h3>
        </a>

        <!-- Presentación -->
        <a href="{% url 'presentacion' %}" class="admin-card">
            <h3>Presentación</h3>
        </a>

        <!-- Laboratorio -->
        <a href="{% url 'laboratorio' %}" class="admin-card">
            <h3>Laboratorio</h3>
        </a>

        <!-- Marca Comercial -->
        <a href="{% url 'admin_marcacomercial' %}" class="admin-card">
            <h3>Marca Comercial</h3>
        </a>

        <!-- Vías de Administración -->
        <a href="{% url 'admin_vias_administracion' %}" class="admin-card">
            <h3>Vías de Administración</h3>
        </a>

        <!-- Forma Farmacéutica -->
        <a href="{% url 'admin_formafarmaceutica' %}" class="admin-card">
            <h3>Forma Farmacéutica</h3>
        </a>

        <!-- Principio Activo -->
        <a href="{% url 'admin_principioactivo' %}" class="admin-card">
            <h3>Principio Activo</h3>
        </a>
    </div>

    <h2 class="admin-panel-title" style="margin-top: 40px;">
        Gráficos de estadísticas
    </h2>

    <!-- Nuevo bloque de cards -->
    <div class="admin-cards-container">

        <a href="{% url 'admin_usuario_graficos' %}" class="admin-card">
            <h3>Gráficos de Usuarios</h3>
        </a>

        <a href="{% url 'admin_medicamento_graficos' %}" class="admin-card">
            <h3>Gráficos de Medicamentos</h3>
        </a>

        <a href="{% url 'admin_usuario_graficos' %}" class="admin-card">
            <h3>Gráficos de Busquedas</h3>
        </a>

        <!-- Aquí puedes agregar más cards cuando tengas más gráficos -->
        <!--
        <a href="#" class="admin-card">
            <h3>Otro gráfico</h3>
        </a>
        -->

    </div>
</div>
{% endblock %}